/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --box-shadow: 0px 0px 27px -15px rgba(0, 0, 0, 0.42);
  --border-colors: #cecece98;
  --border-radius: 8px;
  --color-white: white;
  --border-top: 1px solid #ccc;
}
/* Html */
html {
  /* font-size: 62.5%; */
  font-family: "Inter";
}
body {
  display: flex;
  justify-content: center;
}
/* Container */
.container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin-top: 3rem;
  width: 70rem;
}
/* Header */
.header {
  background-color: var(--color-white);
  display: flex; 
  align-items: center;
}
.profile-picture {
  width: 4.3rem;
}
.information {
  margin-left: 1rem;
}
.name {
  font-size: 1.7rem;
  display: block;
}
.skill-field {
  font-size: 1.2rem;
  font-weight: 600;
}
/*Main*/
.main {
  background-color: var(--color-white);
  display: flex;
}
/* Main aside */
.main__aside {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  width: 30%;
}
/* Main body */
.main__body {
  background-color: var(--color-white);
  flex-direction: column;
  display: flex;
  width: 70%;
}
.about-me , .contact , .work-history , .tools , .education , .other{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-me__title , .contact__title , .work-history__title , .other__title , .education__title , .tools__title {
  color: #99a3b2;
  font-weight: 400;
  font-size: 1rem;
  align-self: flex-start;
  margin-bottom: 0.9rem;
}
.border {
  display: block;
  width: 100%;
  border-top: var(--border-top);
  margin-bottom: 0.9rem;
}
/* Card */
.card {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  border: 0.7px solid var(--border-colors);
  margin-bottom: 1rem; 
  padding: 1rem;
}
.tools__list{
padding-left: 1.1rem;
}
.tools__item{
  margin-bottom: 0.2rem
}
/* Profile */
